<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">L'Elang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= page === 'home' ? 'active' : ''%>">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <%= page === 'list' ? 'active' : ''%>">
                <a class="nav-link" href="/list">List</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%list.forEach(category=>{%>
                    <a class="dropdown-item" href="/list?<%=category.name%>"><%=category.name%></a>
                <%})%>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <% if(!user){ %>
            <li class="nav-item <%= page === 'login' ? 'active' : ''%>">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Login
                </button>
            </li>
            <li class="nav-item <%= page === 'signup' ? 'active' : ''%>">
                <a class="nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
            </li>
            <%} else {%>
                <li class="nav-item dropdown <%= page === 'profile' ? 'active' : ''%>">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=user.name%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                    </div>
                </li>
            <%}%>
        </ul>
    </div>
</nav>

<!-- Modal Login -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Default form login -->
    <form class="text-center border border-light p-5" action="/user/login" method="POST">
        <p class="h4 mb-4">Login</p>
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" name="email">
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password">
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="/user/signup">Forgot password?</a>
            </div>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
        <!-- Register -->
        <p>Not a member?
            <a href="/user/signup">Register</a>
        </p>
    </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>