<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('../partials/bootstrap') %>
  <title>L'Elang</title>
</head>
<body>
    
  <%- include('../partials/adminNavbar', {page: 'category', sum: active}) %>
  <%- include('../partials/adminHeader', {page: 'category'}) %>
  
  <div class="container mt-5">
    <table class="table table-striped">
      <%- include('../partials/adminTableHead', {head: ['#', 'Name', 'Code']}) %>
      <tbody>
        <% for(let i=0; i < data.length; i++ ) { %> 
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= data[i].name %></td>
            <td><%= data[i].code %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>