<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/bootstrap') %>
    <title>Profile: <%=user.name%></title>
</head>
<body>
    <%- include('../partials/userNavbar', {page: 'profile'}) %>
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 18rem;">
            <img src="https://rec-data.kalibrr.com/www.kalibrr.ph/logos/LUJD7AZSJQB8A6XTF3ZXZYZ287EFXYAR9SH2LMPU-5d0b4f48.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=user.name%></h5>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item active">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                            BID HISTORY
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>BID HISTORY:</h1>
                    <ul>
                        <!-- Besok tuker jadi card tiga tiga -->
                        <%for(let i = 0; i < data.Items.length; i++){%>
                            <li>
                                <div class="card" style="width: 15rem;">
                                    <img src="data:image/jpeg;base64, <%-data.Items[i].image%>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h3><%=data.Items[i].name%></h3>
                                        <p class="card-text">
                                            Price: <%=rupiah(data.Items[i].price)%> <br>
                                            bid: <%=rupiah  (data.Items[i].UserItem.bid)%>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <%}%>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>