<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('../partials/bootstrap') %>
  <title>L'Elang</title>
</head>
<body>
    
  <%- include('../partials/adminNavbar', {page: 'item'}) %>
  <div class="jumbotron">
    <h1 class="display-4"><%= data.code %> : <%= data.name%></h1>
    <hr class="my-4">
    <form action="" method="POST">
      <input type="hidden" value="<%= data.name %>" name="item">
      <input type="hidden" value="<%= user[0].email %>" name="email">
      <input type="hidden" value="<%= rupiah(user[0].bid) %>" name="nominal">
      <button type="submit"> Closed </button>
    </form>
  </div>
  
  <div class="container">
  
  <div class="container mt-2">
    <table class="table table-striped">
      <%- include('../partials/adminTableHead', {head: ['#', 'Name', 'Email', 'Offer']}) %>
      <tbody>
        <% for(let i=0; i < user.length; i++ ) { %> 
          <tr>
            <th scope="row"><%= i +1 %></th>
            <td><%= user[i].fullname %></td>
            <td><%= user[i].email %></td>
            <td><%= rupiah(user[i].bid) %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>